@font-face {
    font-family: NB;
    src: url(./NBInternationalProBoo.woff2);
}

@font-face {
    font-family: Rejoy;
    src: url(./Rejouice-Headline.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;

}

*::selection {
    background-color: #8b7f7f;
    color: #000000;
}

html,
body {
    width: 100%;
    height: 100%
}

i {
    color: #000000;
    font-size: 1vw;
}

#loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: #111111;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#loader h3 {
    font-size: 2vw;
    font-weight: 500;
}

#cursor {
    width: 7vw;
    height: 7vw;
    background-color: #FF5F38;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#cursor h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: #111111;
    font-weight: 300;
}

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: NB;
    overflow: hidden;
}

#page1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 00;
}

#upper-menu {
    width: 100%;
    height: 60vh;
    background-color: #FF5F38;
    position: absolute;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    padding: 3vw;
}
#upper-menu h2{
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
#upper-menu h2 a{
    font-size: 2vw;
    text-decoration: none;
}
#upper-menu #btn {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

#upper-menu #btn h3 {
    font-size: 1.4vw;
    font-weight: 600;
    color: #111111;
}

#page1 #page1-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#page1-elem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55%;
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    /* background-color: red; */
}

#page1 #page1-content h1 {
    font-size: 27vw;
    line-height: 27vw;
    font-weight: 400;
    font-family: Rejoy;
}

#page1 #page1-content span {
    font-family: Rejoy;
    display: inline-block;
}

#page1 #page1-content nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.7vw 2.8vw;
    position: absolute;
    top: 0%;
    z-index: 9999;
}

#page1 #page1-content nav a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

nav a:after {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}



nav a:hover:after {
    width: 100%;
    left: 0;
}

#page1 #page1-content nav a h3 {
    font-size: 1.4vw;
    font-weight: 500;
}

#page1 #page1-content nav a h2 {
    font-size: 1.4vw;
    font-weight: 500;
}

#page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF8F3;
    font-family: NB;

}

#page2-elem {
    width: 95%;
    height: 20vh;
    border-bottom: 1px solid #111111;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#page2-elem-left {
    margin-bottom: 1vw;
    overflow: hidden;
}

#page2-elem-right {
    margin-bottom: 1vw;
    overflow: hidden;
}

#page2-elem h2 {
    font-size: 1.5vw;
    color: #111111;
    font-weight: 300;
}

#page2-para {
    height: 100%;
    width: 95%;
    margin-top: 2vw;
    overflow: hidden;
}

.para {
    overflow: hidden;
    height: 15%;
    display: flex;
    align-items: center;
    width: fit-content;
}

#page2-para h1 {
    font-weight: 300;
    font-size: 4vw;
    line-height: 3.5vw;
    text-align: left;
    color: #111111;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    font-family: NB;
    position: relative;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-top {
    width: 100%;
    height: 50vh;
    position: relative;
    padding-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */

}

#page3-top h4 {
    color: #111111;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 500;
}

#page3-top h4 span {
    color: #FAF8F3;
    background-color: #111111;
    padding: 2px 4px;
    margin: 1vw;
    font-size: 1.2vw;
    border-radius: 5px;
}

#heading-coat {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#page3-top h2 {
    font-weight: 400;
    font-size: 4vw;
    width: fit-content;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
    color: #000000;
    display: inline-block;
    position: relative;
}

#page3-top h2:hover:after {
    width: 100%;
    left: 0;
    right: 50%;
}

#page3-top h2:after {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    right: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    background-color: #FAF8F3;
    font-family: NB;
    padding: 0 3vw;
}

#page4top {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#page4top h2 {
    font-size: 1.6vw;
    font-weight: 500;
    font-family: NB;
    color: #000000;
    display: inline-block;
    position: relative;
}

#page4top a {
    text-decoration: none;
}

#page4top h2:hover:after {
    width: 100%;
    left: 0;
    right: 50%;
}

#page4top h2:after {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 10%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#page4bottom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
}

.box {
    width: 32.5%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    transition: all ease 0.5s;
}

.box:hover img {
    opacity: 0;
}

#page5 {
    height: 80vh;
    width: 100%;
    background-color: #FAF8F3;
    font-family: NB;
    padding: 0 3vw;
}

#page5top {
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid #111111;
    position: relative;
    display: flex;
}

.headings {
    position: absolute;
    bottom: 0%;
    margin-bottom: 1vw;
    overflow: hidden;
}

.headings h2 {
    font-size: 1.6vw;
    font-weight: 500;
    font-family: NB;
    color: #000000;
    line-height: 2vw;

}

#page5bottom {
    margin-top: 1vw;
    width: 100%;
    height: 100%;
    position: relative;
}

.paragraphs {
    overflow: hidden;
}

.paragraphs h1 {
    font-weight: 300;
    font-size: 4vw;
    line-height: 5vw;
    text-align: left;
    color: #111111;
}

#cursor2 {
    width: 7vw;
    height: 7vw;
    background-color: #FF5F38;
    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#cursor2 h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: #111111;
    font-weight: 300;
}

#page6 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #FAF8F3;
    font-family: NB;
    padding: 0 3vw;
}

#page6 video {
    width: 100%;
    height: 100%;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page6 .abs {
    width: 80%;
    height: 80%;
    object-position: center;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#page7 {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F3;
    font-family: NB;
    padding: 0 3vw;
}

.page7top {
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #111111;
    display: flex;
    align-items: end;
}

.page7headings {
    width: 100%;
    margin-bottom: 1vw;
    overflow: hidden;
}

.page7headings h2 {
    font-size: 1.6vw;
    font-weight: 500;
    font-family: NB;
    color: #000000;
}

#page7bottom {
    padding-top: 1vw;
    width: 100%;
    height: 100%;
}

#page7bottom .boundry {
    overflow: hidden;
}

#page7bottom .boundry h1 {
    font-weight: 300;
    font-size: 4vw;
    line-height: 4.5vw;
    color: #111111;
}

#page8 {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F3;
    font-family: NB;
    padding: 0 3vw;
}

#page8 #page8top {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

#page8top h1 {
    font-size: 10vw;
    font-family: Rejoy;
    font-weight: 500;
    color: #000000;
}
#page8top h1 span {
    display: inline-block;
    font-size: 10vw;
    font-family: Rejoy;
    font-weight: 500;
    color: #000000;
}

#page8top a {
    text-decoration: none;
}

#page8top a h2 {
    color: #000000;
    font-size: 1.6vw;
    font-weight: 500;
}

#page8top a i {
    color: #000000;
    font-size: 1.6vw;
}

#page8bottom {
    width: 100%;
    height: 100%;
    background-color: #FAF8F3;
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
    overflow: hidden;
}
#page8bottom h1 {
    color: #0E0E0E;
    font-weight: 500;
    font-size: 4vw;
}
#headingcoat{
    overflow:hidden;
}
#page8bottom h2 {
    color: #0E0E0E;
    margin-top: 4vw;
    font-weight: 500;
    font-size: 2rem;
}
#page8bottom h2 span {
    display: inline-block;
    color: #0E0E0E;
    margin-top: 4vw;
    font-weight: 500;
    font-size: 2rem;
}
#page9 {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAF8F3;
    font-family: NB;
}
.boundrywall{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
#page9 h2 {
    font-size: 2vw;
    font-weight: 400;
    color: #000000;
}

#page9 h2 i {
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
}

#page9 a h1 {
    font-size: 4vw;
    color: #000000;
    padding-bottom: 1vw;
    font-weight: 400;
}


#page9 a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

#page9 a:after {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#page9 a:hover:after {
    width: 100%;
    left: 0;
}

#page10 {
    height: 100vh;
    width: 100%;
    background-color: #0E0E0E;
    position: relative;
    padding: 0 3vw;
    font-family: NB;
}

#page10top {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
}

.topleft {
    width: 40%;
    margin-top: 1vw;

}

.topleft h1 {
    font-size: 2vw;
    font-weight: 500;
    color: #DDDAD1;
}

.topleft button {
    padding: .8vw 1.3vw;
    cursor: pointer;
    margin-top: 1vw;
    font-size: 1.1vw;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: #0E0E0E;
    border: 2px solid #DDDAD1;
    color: #DDDAD1;
    transition: all ease 0.6s;
}

.topleft button:hover {
    background-color: #DDDAD1;
    color: #000000;
}

.topright {
    margin-top: 1vw;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.topright .menu {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topright .menu a {
    margin: .5vw;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.topright .social {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.topright .social a {
    margin: .5vw;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.topright .social a i {
    color: #DDDAD1;
    font-size: 1rem;
    font-weight: 500;
}

#page10centre {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#page10centre #page10centreleft h2 {
    font-size: 1rem;
    font-weight: 500;
}

#page10centre #page10centreright {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

#page10centre #page10centreright a {
    text-decoration: none;
}

#page10centre #page10centreright h2 {
    font-size: 1rem;
    font-weight: 500;
}

#page10bottom {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#page10bottom_heading h1{
    font-size: 23vw;
    line-height: 18vw;
    letter-spacing: -1.5rem;
    color: #DDDAD1;
    font-weight: 600;
    font-family: Rejoy;
}   
#page10bottom_heading h1 span{
    display: inline-block;
    font-size: 23vw;
    line-height: 18vw;
    letter-spacing: -1.5rem;
    color: #DDDAD1;
    font-weight: 600;
    font-family: Rejoy;
}   